.row-header{

margin: 5px auto;
padding: 0px 0px 0px 0px;
border: 1px ;
}
.row-content{
margin: opx auto;
padding: 0px auto;
min-height: 200px;
}
.footer{
margin: 0px auto;
padding: 20px 0px 20px 0px;
background-color: #D1C4E9;
border: 1px ridge;

}
.jumbotron{
    background-color: violet;
    padding: 0px auto;
    margin: 50px 0px 50px 0px 50px;
color: whitesmoke;
}
.address{
    margin: 0px;
    color: aqua;
    font: 80%;
}
.card{
    margin-left: 00px;
    padding-left: 0px ;
    padding-right: 0px;
}
.card .bg-primary{
    margin-left: 00px;
    background-color:yellow;
}